body {
    display: grid;
    flex-direction: column;
    background-color: #121213;
    margin: 0;
    
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* Top app bar */
#top-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 60px;
    border-bottom: 1px solid #424242;
    margin-top: 5px;
}

#back {
    display: flex;
    margin: 3px;
    border-radius: 7px;
    width: 100px;
    height: 50px;
    font-size: 24px;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: #818384;
    text-transform: uppercase;
    padding: 2px;
    cursor: pointer;
    z-index: 11;
}

#ng {
    display: flex;
    margin: 3px;
    border-radius: 7px;
    width: 160px;
    height: 50px;
    font-size: 24px;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: #818384;
    text-transform: uppercase;
    padding: 2px;
    cursor: pointer;
}

/* Overlay windows */
.overlay {
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    top: auto;
    left: auto;
    width: 100%;
    height: 100%;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
}

/* Win/loss box (overlay) */
#winloss {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #3a3a3c;
    width: fit-content;
    height: fit-content;
    padding: 10px;
    border-radius: 10px;
}

#winloss h1 {
    color: white;
    font-size: 40px;
}

#winloss p {
    color: white;
    font-size: 20px;
    width: 70%;
    text-align: center;
}

#winloss button {
    display: flex;
    margin: 3px;
    border-radius: 7px;
    width: 160px;
    height: 70px;
    font-size: 24px;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: #538d4e;
    text-transform: uppercase;
    padding: 2px;
    cursor: pointer;
}

/* Container for keyboard */
#keyboard-container {
    display: flex;
    align-self: center;
    flex-direction: column;
    margin-top: auto;
}

/* Individual keyboard key */
.keyboard-key {
    display: flex;
    margin: 3px;
    border-radius: 3px;
    min-width: 30px;
    min-height: 30px;
    font-size: 24px;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: #818384;
    text-transform: uppercase;
    padding: 2px;
    cursor: pointer;
}

.kb-row {
    display: flex;
    flex-direction: row;
    align-self: center;
}

/* Container for letter boxes */
#letter-container {
    display: flex;
    align-self: center;
    flex-direction: column;
}

.letter-box {
    display: flex;
    margin: 3px;
    border: 2px solid #3a3a3c;
    width: 60px;
    height: 60px;
    font-size: 32px;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    color: white;
    text-transform: uppercase;
}

.lb-row {
    display: flex;
    flex-direction: row;
    align-self: center;
}