body {
    display: flex;
    flex-direction: column;
    background-color: #121213;
    
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* Top app bar */
#top-bar {
    width: auto;
    height: 60px;
    background-color: brown;
}

/* Overlay windows */
.overlay {
    position: absolute;
    top: auto;
    left: auto;
    width: 100%;
    height: 100%;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
}

/* Container for keyboard */
#keyboard-container {
    display: flex;
    align-self: center;
    flex-direction: column;
    margin-top: 150px;
}

/* Individual keyboard key */
.keyboard-key {
    display: flex;
    margin: 3px;
    border-radius: 7px;
    min-width: 45px;
    min-height: 60px;
    font-size: 24px;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: #818384;
    text-transform: uppercase;
    padding: 2px;
}

.kb-row {
    display: flex;
    flex-direction: row;
    align-self: center;
}

/* Container for letter boxes */
#letter-container {
    display: flex;
    align-self: center;
    flex-direction: column;
    margin-top: 150px;
}

.letter-box {
    display: flex;
    margin: 3px;
    border: 2px solid #3a3a3c;
    width: 60px;
    height: 60px;
    font-size: 32px;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    color: white;
    text-transform: uppercase;
}

/* Use state attribute for changes */

.lb-row {
    display: flex;
    flex-direction: row;
    align-self: center;
}